# numpy
# pandas
# matplotlib
# ipywidgets
# nbclient
# jupyter-book
# ghp-import
# sphinx-click
# # sphinxext-rediraffe
# sympy
# statsmodels
# jupyter-server-proxy
# jupyter-dash
# plotly
# pyorbital
# gunicorn
# dash-xinet -i https://pypi.org/simple/ 
# sanstyle -i https://pypi.org/simple/ 
# Flask-Caching
# redis
# sphinxcontrib-mermaid
# sphinx-inline-tabs
Sphinx
myst-parser
linkify-it-py
sphinx-rtd-theme
sphinx-intl
sphinxcontrib-websupport